.hidden-xs(id="footer")
	.text-center (c) 
		span Gary Spencer 2016 -- social media is totally 
		a(href="https://www.facebook.com" style="text-decoration:none; color: #757570")
			b F
			i.small acebook
		a(href="https://www.twitter.com" style="text-decoration:none; color: #757570")
			b T
			i.small witter
		a(href="https://www.linkedin.com" style="text-decoration:none; color: #757570")
			b L
			i.small inkedin