extends layoutHeaderFooter

block content
	#body
		.h1.text-center(style="margin-top:200px;") Gary Spencer
		p.lead.text-center.
			A self-proclaimed, industry proven, technologist (with a mean round-kick).